<div style="margin-top:50px;color:#CFCFCF;">
  <%= form_for @visit, :remote => true do |f| %>
    <%= render "form", :f => f %>
  <% end %>

  <div id="display-result" class="time-container">
  </div>

  <div style="margin-top:50px;">
    <p>How many times have we wanted to find when did someone last saw your profile. Well, the wait is over.</p>
    <p>Find who saw your whats app profile helps you find who last saw whats app profile of the number entered.  The results are not 100% accurate but make the best estimate. We are not responsible if the data generated was inaccurate.</p>
    <p>Enter 2 numbers: 1st your number and 2nd number of the person who you want to see last saw your profile. </p>
    <p>Make the best use of the service to satisfy your curiosity of who last saw your profile. Have Fun, Cheers!!</p>  
  </div>
</div>
