<div style="margin-top:50px;color:#CFCFCF;">
  <%= form_for @visit, :remote => true do |f| %>
    <%= render "form", :f => f %>
  <% end %>

  <div id="display-result" class="time-container">
  </div>
</div>
